body {background-color: pink;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer  {
    background-color: blue
    color( black)
    bottom/0;
    position:fixed;
    width: 100%;
}